﻿@{ Layout = null; }
@using System.Linq
@model WebApiVErsionedDocumentation.Models.ApiDocumentationModel
<!DOCTYPE html>
<html>
    <head>
        <title>@Model.Name Api Documentation</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script type="text/javascript" src="@Url.Content("//code.jquery.com/jquery-1.11.2.min.js")"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.panel-collapse').collapse({
                    toggle: false
                });
                $('.table-responsive').css('-webkit-overflow-scrolling', 'touch');
                $('.table').addClass('responsive');
            });
        </script>
        <style type="text/css">
            body { margin: 20px 20px 20px 20px; }
            .panel-heading a:after {
                font-family: 'Glyphicons Halflings';
                content: "\e114";
                float: right;
                color: grey;
            }
            .panel-heading a.collapsed:after { content: "\e080"; }
            #accordion, #ReleaseNotes { margin: 10px 10px 10px 10px; }
            .panel-title:hover { cursor: pointer; }
            .redLabel { color: red; }
            h5 { font-weight: bold;}
            p { word-wrap: break-word; }
        </style>
    </head>
    <body>
    
        @if (Model.HeaderLogo != null)
        {
            <div><a href="@(Model.HeaderLogo.Item2)"><img alt="Logo" src="@(Model.HeaderLogo.Item1)" /></a></div>
        }

        <h2>@Model.Name API Documentation - Version: @Model.Version</h2>
        
        @foreach (var additionalLink in Model.AdditionalLinks)
        {
            <p>@(additionalLink.Item1) : <a target="_blank" href="@(additionalLink.Item2)">@(additionalLink.Item2)</a></p>
        }
        
        @if (!String.IsNullOrWhiteSpace(Model.SupportEmailAddress))
        {
            <p>For additional help and support, please contact: <a target="_blank" href="mailto://@(Model.SupportEmailAddress)">@(Model.SupportEmailAddress)</a></p>
        }
    
        @if (Model.IsBeta)
        {
            <p><label class="redLabel">Note: This is a beta release</label></p>
        }
        @if (Model.IsDiscontinued)
        {
            <p><label class="redLabel">Note: This is API has been discontinued</label></p>
        }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 id="panel-title">API CALLS</h4>
            </div>
            <div class="panel-group" id="accordion">

                @foreach (var apiDescription in Model.ApiDescriptions)
                {
                    var apiMethodName = apiDescription.RelativePath.Substring(apiDescription.RelativePath.LastIndexOf("/", System.StringComparison.Ordinal) + 1);
                    if (apiMethodName.Contains("?"))
                    {
                        apiMethodName = apiMethodName.Substring(0, apiMethodName.IndexOf("?", System.StringComparison.Ordinal));
                    }
                    apiMethodName = apiMethodName.Replace("/", String.Empty);

                    <div class="panel panel-info" id="Panel@(apiMethodName)">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#@(apiMethodName)Panel" href="#@(apiMethodName)Panel" class="collapsed panelLink">@apiMethodName</a>
                            </h4>
                        </div>
                        <div id="@(apiMethodName)Panel" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>@Html.Raw(apiDescription.Documentation)</p>
                                <p><strong>Endpoint:</strong>&nbsp;@Model.RootUrl@apiDescription.RelativePath</p>
                                <p><strong>Http Method:&nbsp;</strong>@apiDescription.HttpMethod</p>
                                
                                @{
                                    var requestInfoHeadingDisplayed = false;
                                    var uriParameters = apiDescription.ParameterDescriptions.Where(x => x.Source.ToString() == "FromUri").ToList();
                                    if (uriParameters.Any())
                                    {
                                        if (!requestInfoHeadingDisplayed)
                                        {
                                            requestInfoHeadingDisplayed = true;
                                            <h4>Request Information</h4>
                                        }
                                        <h5>URI Parameters</h5>
                                        <div>
                                            @foreach (var parameter in uriParameters)
                                            {
                                            @Html.Raw(parameter.Documentation)
                                            }
                                        </div>
                                    }
                                }
                                @{
                                    var bodyParameters = apiDescription.ParameterDescriptions.Where(x => x.Source.ToString() == "FromBody").ToList();
                                    if (bodyParameters.Any())
                                    {
                                         if (!requestInfoHeadingDisplayed)
                                         {
                                             <h4>Request Information</h4>
                                         }
                                        <h5>Body Parameters</h5>
                                        <div>
                                            @foreach (var parameter in bodyParameters)
                                            {
                                            @Html.Raw(parameter.Documentation)
                                            }
                                        </div>
                                    }
                                }
                                <h4>Response Information</h4>
                                <div>
                                    @if (String.IsNullOrWhiteSpace(@apiDescription.ResponseDescription.Documentation))
                                    {
                                        <p>None</p>
                                    }
                                    else
                                    {
                                        @Html.Raw(@apiDescription.ResponseDescription.Documentation)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 id="panel-title">Version History / Release Notes:</h4>
            </div>
            <div class="panel-group" id="ReleaseNotes">
                @Html.Raw(Model.ReleaseNotes)
            </div>
        </div>
    
        @if (!String.IsNullOrWhiteSpace(Model.CompanyName))
        {
            <p>&copy;&nbsp;@(DateTime.Now.Year)&nbsp;@(Model.CompanyName)</p>
        }
    </body>
</html>